.mach{
    display: grid;
    grid-template-rows: 60%, 40%;
    background-image: var(--box-shadow-color);
    box-shadow: var(--box-shadow-value);
    border-radius: 10px;
}
.mach .flags{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.mach .details{
    display: flex;
    flex-direction: column;
}
.mach .details h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mach .details p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mach-update{
    width: 100vw;
    /* padding: 0% 2%; */
    /* padding-bottom: 1%; */
}
