/* import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Pacifico&family=Poppins:wght@500&display=swap');
    /*---------------
    common Properties start
    -----------------*/
body{
    margin: 0px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image:linear-gradient(to bottom, rgb(0, 0, 0), rgb(250, 250, 250)); */
}
main{
    background-image: var(--box-shadow-color);
    box-shadow: var(--box-shadow-value);
}
.container{
    /* max-width: 821px; */
    max-width: 100vw;
}
:root{
        --top-color: rgb(39, 35, 35);
        --bottom-color: rgb(170, 170, 170);
        --box-shadow-color:linear-gradient(to bottom, var(--top-color), var(--bottom-color));
        --box-shadow-value: 0px 0px 10px black;
}
.button{
    background-image: linear-gradient(to right, rgb(234, 35, 0), tomato);
    box-shadow: 3px 3px 5px black;

}
.button a{
    text-decoration: none;
    color: #161616;
}
.buttonac{
    background-image: linear-gradient(to right, rgb(0, 6, 72), rgb(0, 6, 72));
    box-shadow: 3px 3px 5px black;
    color: aliceblue;
}
/*-----------------------------
    common Properties end
    ---------------------------*/

/* ---------------
       header start
---------------- */
.banner{
    display: grid;
    height: 100vh;
    background-color: black;
    color: white;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 7fr 5fr;
    /* justify-content: space-between; */
    overflow:hidden;
    background-image: var(--box-shadow-color);
    box-shadow: var(--box-shadow-value);
}
.banner .heading{
    display: grid;
    direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
.banner .heading h1{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}
.banner .heading p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    margin-top: 0%;
}
.banner .heading .button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    height: 56px;
    width: 40%;
    background-color: red;
    padding: 3% 3%;
    border-radius: 40px;
}
.banner .heading .button a{
    text-decoration: none;
    color: aliceblue;
}
.banner .image{
    margin-left: 10%;
    display: flex;
    flex-direction: column-reverse;
}
.banner .image .player{
}
.banner .image img{
    width: 100%;
}

/* ---------------
    header end
---------------- */

/*------------------
     main start  
---------------------*/
.mach-update{
    display: grid;
    grid-template-columns: 350px auto;
    column-gap: 10px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.menues{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
    border-radius: 10px;
    height: 312px;
    background-image: var(--box-shadow-color);
    box-shadow: var(--box-shadow-value);
}
.menues .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 80%;
    height: 64px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.newes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-right: 1%;
}
.newes .news{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: var(--box-shadow-color);
    box-shadow: var(--box-shadow-value);
}
.newes .news .news-image img{
    width: 100%;
    /* height: 175px; */
}
.newes .news .news-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 24px;
}
.newes .news .news-heading{
    font-size: 18px;
    font-weight: 700;
    margin-left: 24px;
}
.newes .news .news-info{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.fa-regular{
    margin-left: 15%;
    margin-right: 3%;
}
.viewall{
    display: none;
}
/*-------------------------
        main end  
--------------------------*/

/*-------------------------
        footer start
---------------------------*/
.footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.667);
    height: 370px;
    /* margin-top: 100px; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.top-foot{
    /* text-align: center; */
    /* justify-self: center; */
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(231, 228, 228);
    width: 100vw;
    
}
.buttom-foot{
    display: flex;
    width:100%;
    align-items: center;
    justify-self: center;
    justify-content:space-around;

}
.buttom-foot p{
    font-size: 2em;
}

















/* social icons.... */
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-title{
    font-size:18px;
    color:white;
    letter-spacing: 1px;
    margin-top:10px;
    margin-bottom: 20px;
}
.social a{
    font-size: 22px;
    width: 45px;
    display: inline-block;
    line-height: 39px;
    border-radius:50%;
    border: 2px solid crimson;
    margin: 30px;
    transition: 0.3s ease-in-out;
    background-color:black;
}
.social a .fa{
    /* font-size: 80px; */
}
.social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 1px 1px white;
    background-color: #161616;
    border: 2px solid white;
}
/*-------------------------
        footer end
---------------------------*/

/*----------------------
     media query start
-----------------------*/



















/* mobile device only */
@media only screen and (max-width: 500px){
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner .heading{
        display: grid;
        grid-template-rows:repeat(4, 1fr);
        border:none;
        height: 45vh;
    }
    .banner .heading h1{
        font-size: 35px;
        text-align: center;
    }
    .banner .heading p{
        font-size: 15px;
        text-align: center;
    }
    .banner .heading .button{
        display: flex;
        justify-self: center;
        font-size: 20px;
        font-weight: 400;
        height: 26px;
    }
    .banner .image{
        height: 55vh;
        display: flex;
        flex-direction: column;

    }
    .banner .image .player{
    }
    .banner .image img{
        height: 130%;
    }
    .mach-update{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .menues{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        margin-bottom: 5%;
    }
    .menues .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        width: 30%;
        height: 24px;
        padding: 1% 0%;
        font-size: 10px;
    }
    .newes{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .news{
        margin: 5px;
    }

    .footer{
        height: 50vh;
        display: grid;
        grid-template-rows: 10%, 90%;
        color: aliceblue;
        justify-content: center;
    }
    .top-foot{
        /* text-align: center; */
        /* justify-self: center; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 3px solid rgb(231, 228, 228);
        width: 100vw;
        
    }
    .buttom-foot{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-self: center;
        justify-content:space-around;
    
    }
    .buttom-foot p{
        font-size: 10px;
    }
    .social a{
        margin: 10px;
    }

    
}

















/* tablet device only */
@media only screen and (min-width: 501px) and (max-width: 820px){
    /* body{
        background-image:linear-gradient(to bottom, rgba(255, 0, 0, 0.725), rgb(151, 151, 151));
        border: 2px solid black;
        margin: 0px 0px 0px 0px ;
    } */
    .banner{
        height: 40vh;
    }
    .banner .heading h1{
        font-size: 35px;
    }
    .banner .heading p{
        font-size: 20px;
        font-weight: 400;
    }
    .banner .heading .button{
        font-size: 20px;
        height: 36px;
        width: 70%;
    }
    .banner .heading .button a{
        text-decoration: none;
        color: aliceblue;
    }
    .mach-update{
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .menues{
        display: flex;
        flex-direction: row;
        background:none;
        height: fit-content;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .menues .menu{
        width: 30%;
        border: 3px solid black;
        border-radius: 10px;
    }
    .newes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 10px; */
    }
    .news.last-news{
        display: none;
    }
    .viewall{
        display: flex;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        margin-top: 30px;
        border-radius: 30px;
    }
    .viewall a{
        text-decoration: none;
        font-size: 30px;
        color: black;
    }
    .buttom-foot p{
        font-size: 0.8em;
    }
}

/* main css is for desktop */


/*-----------------------
     media query ends
-------------------------*/